.audioPlayer {
  max-height: 300px;
  width: 90%;
  font-family: Arial, sans-serif;
  padding: 2%;
}

.audioTitle {
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 10px;
  color: #ffffff;
}

.audioContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.audioControls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.playPauseBtn {
  width: 100px;
  height: 100px;
  border: none;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.progressContainer {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

.progressBar {
  flex: 1;
  height: 4px;
  background: #e0e0e0;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.progressBarVolume {
  width: 10%;
  height: 4px;
  background: #e0e0e0;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.timeDisplay {
  font-size: 12px;
  color: #ffffff;
  min-width: 70px;
}

.audioElement {
  display: none;
}
