.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 95%;
    background-color: #282c34;
    max-height: 80px;
    padding: 0%;

    border-bottom: 1px solid white;
}

.titulo{
    font-size: 2rem;
    color: white;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 300;
}