.button{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    align-items: center;
    fill-opacity: 0.8;
    aspect-ratio: 1/1;
}

.img{
    margin: 0;
    width: 50%;
    aspect-ratio: 1/1;
}