.contenedorPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #282c34;
  padding: 0;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
